// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Avatar

$avatar-size: 2.5rem !default;

// Loading

$loading-padding-y:              1rem !default;
$loading-padding-x:              0 !default;
$loading-transition:             $transition-fade !default;
$loading-fixed-background-color: $white !default;
